aniso8601==0.92
blinker==1.3
Flask==0.10.1
Flask-Login==0.2.11
Flask-Principal==0.4.0
Flask-RESTful==0.3.2
Flask-SQLAlchemy==2.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mysql-connector-python==2.0.3
MySQL-python==1.2.4b4
nltk==3.0.5
pyDatalog==0.15.2
pytz==2014.10
six==1.9.0
SQLAlchemy==0.9.9
textblob==0.9.1
virtualenv==12.0.7
Werkzeug==0.10.1
