body { font-family: helvetica,arial,"lucida grande",sans-serif; }
#inferno-app {/*padding-top: 90px!important;*/ margin-bottom:0}   /*Modif Julie :) */
.main-wrapper {max-width: 1200px; padding-top: 90px }
.app-wrapper {color: #ffa500; padding-bottom: 40px}

.navbar-static-top {/*position: fixed;*/ top: 0; left: 0; right: 0;}

p.stz {padding-left: 10px; position: relative; color: #242028; font-family: "Garamond","Georgia",serif; white-space:pre-wrap; font-size: 1.3em; margin:0px; margin-bottom: 0.75em; }  /*Modif Julie :) */

#terza-infos {font-family: helvetica,arial,"lucida grande",sans-serif; color: #999; right: 5px; display: inline-block; position: absolute; margin-right: 100px; font-size: 0.6em;}
#editing-zone #terza-infos {top: -26px; left: 0px; padding-left: 0px; color: #ffA500} /*Modif Julie :) */
p.trad-stz {font-family: 'Georgia', sans-serif; font-size: 1.2em; margin-bottom: 0.75em;}
.nano > .nano-content {outline: none !important}
.kimo.datalist .item .trad-sugg { margin-top: 10px; background-color: white; padding: 15px 5px 2px 5px; border-top: 1px solid #ededed; }
.kimo.datalist .item:first-child .trad-sugg{ margin-top: 10px; background-color: white; padding:  5px 5px 2px 5px; border: none;}
.trad-sugg .fa-user {color: #242028;}
.trad-sugg .inferno-user, .user-comment .inferno-user, #editing-zone .inferno-user {padding-left: 5px; padding-right: 12px; color: #aca4b2 }
#trad-container {margin-top: 30px}
.lang-choice {font-family: helvetica,arial,"lucida grande",sans-serif;}
.lang-choice.selected {border-bottom: 1px solid orange;}
.fr-canto-container, .eng-canto-container, it-canto-container {}
.col-sm-4 #editing-zone {font-size: 0.8em}
.vote-btn, .comment-btn {color: #ffA500; padding-right: 5px;}
.nb-comments, .nb-votes {font-size: 12px}
.user-comment .prewrap {white-space: pre-wrap; padding-top: 5px; font-family: helvetica,arial,"lucida grande",sans-serif; } /*Modif Julie :) */

.navbar-nav .caret {color: #ffa500;}
.navbar-nav .fa-user {color: #aca4b2;}
.navbar-nav .inferno-user {color: #ffffff; padding: 0 8px 0 5px;}
.navbar-header {padding-bottom: 20px}
.navbar-header .main-title {color: #ffa500; font-size: 21px; letter-spacing: 2px}
.navbar-header .main-subtitle {color: #aca4b2; font-size: 17px; letter-spacing: 1px; text-transform:none;}

.trad-pubdate {font-family: helvetica,arial,"lucida grande",sans-serif}

.helvetica {font-family: helvetica,arial,"lucida grande",sans-serif}

.simple-card { padding: 5px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);}

.fa-angle-up, .fa-angle-down{ border: 1px solid #67b168; margin-left: 2px; padding: 3px; cursor: pointer}

.pointable { cursor: pointer}
#canto-pager { margin-top: 71px} /*Modif Julie :) */
.stz-actions { top:-26px; right:0px; margin-right: 5px; font-size: 0.6em; padding-right: 0px} /*Modif Julie :) */

.stz.selected { padding-left: 8px;/*margin-left:-5px; margin-top:-10px ; margin-right:-5px;padding-left:5px; padding-right:5px;*/ cursor:pointer; border-left: 2px solid orange; }

.current-translation {margin: 0px; padding: 0px; padding-top: 0px; font-size:1.4em; font-family: "Garamond","Georgia", serif; white-space:pre-wrap; background-color: white;  color: #242028;}  /*Modif Julie :) */

.shadowed-box { margin: 5px; padding: 10px; background-color: white}
 .terza-item { margin-left: 10px; margin-right: 10px;}
 .terza-no {color: orange}

.stz-editor { background-color: white; text-align: center; margin-top: 18px }
.canto-ctn {padding-top : 25px; padding-bottom: 30px; background-color: #f6f4f7; margin-top: 0px;} /*Modif Julie :) */
.other-translation { margin-top: 10px; padding-top: 10px}

.save-btn { margin-top: 5px }

.user-tab { border-bottom: 1px solid #DCD9DD;  margin-bottom: 30px;} /*Modif Julie :) */

.tab-pane { padding-top: 0px} /*Modif Julie :) */

.available-lang {padding-top: 0px; background-color: white; border-bottom: 1px solid #DCD9DD; margin-bottom: 30px; /*position: fixed;*/ /*height: 60px;*/ /*top: 51px; *width: 555px; z-index: 999999*/} /*Modif Julie :) */
.available-lang .selected { padding:3px; font-size: 0.9em;  text-align: center; background-color: 1px solid green; border: 2px solid #d9edf9 }

#user-translation-text {margin-top: 5px; white-space: pre-wrap; font-family: "Garamond","Georgia", serif; font-size: 1.2em;}

#contributions p.contrib { position: relative; padding: 15px; font-size: 1em; border: 1px solid #ebebeb}

#contributions .contrib-actions { position : absolute; top: 0px; right:0px}

#contributions .contrib-action {cursor: pointer; margin-left:10px}

#contributions .contrib-action:hover { text-decoration: none}

#editing { margin-bottom : 5px;}
.no-padding {padding-left: 0; padding-right: 0} 
.prewrap {white-space: pre-wrap; padding-top: 5px; font-family: "Garamond","Georgia", serif;} /*Modif Julie :) */

footer { right: 0; left: 0; height: 30px; padding-top: 80px; bottom: 0px}  /*Modif Julie :) */
footer .footer-title {font-size: 12px}
footer .footer-pipe {color: #aca4b2; padding-right: 4px; padding-left: 4px}
#editor-ctn {background-color: #ecf0f1;}

#edit-zone {padding: 8px 12px; color: #242028; border: 1px solid #ffa500; margin: 0px 0px 5px 0; border-radius: 0; overflow: auto; font-family: 'Georgia', sans-serif; background-color: #ffffff; resize: none; height: 82px;}

#editing-zone .btn {margin-left: 5px; }

#editing-zone .editable-actions .fa-remove {margin: 0px 5px 0px 5px;}

#user-translation {background-color: #d9edf7; padding: 5px; border-bottom: 1px solid #3498db}

.user-context-wrapper {/*position: fixed;*/ top:70px; /*width: 457px;*/}
#editing-zone .textarea-wrapper {padding: 5px 5px 10px 0; }
#add-translation {margin-top: 5px;}

#editing-zone { margin: 10px 10px 22px 10px; border-bottom: 2px solid #FFA500; padding: 31px 10px 15px; background-color: white;}   /*Modif Julie :) */
#editing-zone .user-translation { margin-top: 18px;}
#editing-zone .user-translation-wrapper { border-top: 1px solid #ededed;  padding: 15px 0 10px 0; }
#editing-zone .inferno-user {}

#editing-zone .translated-content {margin-bottom: 0px}

.csanto-ctn { max-height: 726px; overflow-y: auto }

.canto-link { padding-top: 10px; line-height: 14px; border: 1px solid #dcd9dd; cursor: pointer; height: 50px; width: 100%; margin-bottom: 5px; text-align: center; color: #242028; font-weight: 600; font-size: 11px; text-transform: uppercase} /*Modif Julie :) */
.canto-link:hover {padding-top: 9px; border: 2px solid #242028; color: #aca4b2;} /*Modif Julie :) */

.canto-link .fa-lock{position: absolute; bottom:3px; right: 5px}
.canto-link.selected {padding-top: 9px; border: 2px solid #ffA500}
.canto-link.selected:hover {padding-top: 9px;}
.prev-canto, .next-canto {padding-top: 10px; cursor: pointer; height: 50px; text-align: center; border: 1px solid #dcd9dd}
.prev-canto:hover, .next-canto:hover {padding-top: 9px; border: 2px solid #242028; color: #aca4b2;} /*Modif Julie :) */

.canto-link-ctn { /*position: absolute; top: 62px; width: 68px; /*position: fixed;*/ top: 90px;}

.comment-zone { margin: 5px 5px 30px 5px; padding: 5px 20px 5px 20px; background-color: #f6f4f7}
.comment-zone .block-title {text-transform: uppercase; font-weight: 600; color: #ffA500}
.comment-zone .block-close-btn {color: #ffA500}
.user-comment {margin-bottom: 22px; font-size: 12px; font-family: helvetica,arial,"lucida grande",sans-serif; min-height: 20px !important}

.comment-zone .add-comment {padding: 8px 0px;}
.comment-zone .add-comment:hover, .comment-zone .add-comment:focus, .comment-zone .add-comment:active {color: #aca4b2;}

#comment-field { padding: 4px; color: #242028; background-color: #ffffff; margin: auto; margin-top: 5px; position: relative; border: 1px #ffa500 solid;  word-wrap: break-word; overflow-y: auto; cursor: text; min-height: 35px; max-height: 100px }
.comment-close-btn { margin-right: -1px !important;}

.comment-list-trad-wrapper {background-color: #ecf0f1; padding: 5px}

#commentlist-wrapper {margin-top: 10px; }

.comment-zone .block-wrapper {border-bottom: 1px solid #ffA500; margin-bottom: 24px; padding-bottom: 5px; margin-top: 15px;}

.prev-canto {margin-bottom: 5px;}

.contrib-time {font-size: 0.7em; font-weight: normal; color: #dcd9dd;} /*Modif Julie :) */


#edit-zone::-webkit-input-placeholder { font-size:12px; font-weight: 600; color: #ffa500; font-family: helvetica,arial,"lucida grande",sans-serif; text-transform: uppercase;}
#edit-zone:-moz-placeholder { /* Firefox 18- */font-size:12px; font-weight: 600; color: #ffa500;font-family: helvetica,arial,"lucida grande",sans-serif;  text-transform: uppercase;}
#edit-zone::-moz-placeholder {  /* Firefox 19+ */font-size:12px; font-weight: 600; color: #ffa500;font-family: helvetica,arial,"lucida grande",sans-serif;  text-transform: uppercase;}
#edit-zone:-ms-input-placeholder {  font-size:12px; font-weight: 600; color: #ffa500; text-transform: uppercase; font-family: helvetica,arial,"lucida grande",sans-serif;}

#save-draft-btn { padding-right: 0 }
#save-draft-btn:hover, #save-draft-btn:focus, #save-draft-btn:active {color: #ffa500;}
#cancel-btn {color: #aca4b2; padding-right: 0}
#cancel-btn:hover, #cancel-btn:focus, #cancel-btn:active { color: #ffa500 }
/*Modif Julie :) */ 
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 0px none;
    border-radius: 4px 4px 0px 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffA500;
    cursor: default;
    background-color: #FFF;
    border: none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
	font-weight: 600;
	text-transform: uppercase;
}
.nav-tabs > li > a:hover {
    border: 0px none;
}
.nav-tabs > li {
    float: left;
    margin-bottom: 0px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}
.btn-link:hover, .btn-link:focus {
    color: #aca4b2;
}
.btn-link, .navbar-default .btn-link {
    font-weight: 600;
	text-transform: uppercase;
    color: #242028;
    border-radius: 0px;
}
.btn-link:hover, .btn-link:focus,  .navbar-default .btn-link:hover,  .navbar-default .btn-link:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.user-tab.nav.nav-tabs > li > a {
    font-weight: 600;
	text-transform: uppercase;
    color: #242028;
}
.user-tab.nav.nav-tabs > li > a:hover, .user-tab.nav.nav-tabs > li > a:focus {
    color: #aca4b2;
}
.user-tab.nav.nav-tabs > li.active > a {
    font-weight: 600;
	text-transform: uppercase;
    color: #ffA500;
}
a:link, a:visited {
    color: #ffA500;
}
a:hover, a:focus, a:active {
	outline: 0;
    color: #aca4b2;
    transition: all 0.2s linear 0s;
    text-decoration: none;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0px 0px 0px;
	position: fixed;
}
.text-success {
    color: #aca4b2;
}
body {
    color: #242028;
}
.navbar-default {
    background-color: #242028;

}
.inferno-nav { padding: 24px 40px 0px 100px; }
.inferno-nav .active { text-transform: uppercase !important; }
.inferno-nav .active > a { color: #aca4b2 !important; background-color: #242028 !important; }
.inferno-nav > li > a{ padding-bottom: 5px; color: #ffffff !important; text-transform: uppercase !important; }
.inferno-nav-user > li > a { padding-bottom: 5px; color: #ffffff !important; }

.inferno-nav .btn-link, .inferno-nav .btn-info {color: #fff;}
.inferno-nav > li > a:hover,  .inferno-nav li a:focus, .inferno-nav li a:active {color: #ffa500 !important;}
.inferno-nav-user > li > a > span:hover,  .inferno-nav-user li a > span:focus, .inferno-nav-user li a > span:active {color: #ffa500 !important;}
.inferno-nav-user > .open > a:hover, .inferno-nav-user > .open > a:focus {background-color: #242028 !important}
b, strong {
    font-weight: 600;
}
.navbar-default .navbar-brand {
    color: #fff;
	text-transform: uppercase;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #242028;
    background-color: transparent;
}

.btn {
    display: inline-block;
    padding: 6px 12px 5px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: inherit;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: none;
	border-radius: 6px;
	text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #ffA500;
    border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #aca4b2;
    background-color: #dcd9dd;
    border: none;
}
.btn-info {
    color: #fff;
    background-color: #ffA500;
    border: none;
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    color: #aca4b2;
    background-color: #dcd9dd;
    border: #none;
}
input[type="checkbox"] {
    margin: 2px 0px 0px;
    line-height: 1.42857;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #242028;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #dcd9dd;
    border-radius: 0px;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-control:focus{border-color:#aca4b2;outline:0;-webkit-box-shadow:none;box-shadow:none}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #f12d00;
	-webkit-box-shadow:none;
	box-shadow:none;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
h1, h2 {font-weight: 600; font-size: 20px; text-transform: uppercase;}

h2.info-title {color: #aca4b2;}

#inferno-app .view .container {
	margin-bottom: 60px;
	margin-top: 0px;
}

#user-context {
	border-left: none !important;
}
.btn-link.canto-lang:hover, .btn-link.canto-lang:focus {
    color: #ACA4B2 !important;
}
.pres-content {padding-right: 50px}

/* Annotator style */
.annotator-item {font-size: x-small; vertical-align: super}
.annotator-hl {background: orange}
.badge {color: white; background-color: #242028}
.badge.annotation-no {font-size: 10px; padding: 1px 4px; vertical-align: super}
.badge.badge-hl {opacity: 0.5; line-height: none; display: inline; line-height: none; font-size:inherit; padding:0 2px; border-radius: 0 !important; filter:alpha(opacity=50); background: orange }
.annotation-no > .annotator-hl {background: none; font-weight: smaller;}

#annotation .role {font-weight: 600; font-size: 13px; padding-right: 5px}
#annotation .role-name {font-size: 13px}
/* Noir 242028    Gris fonce aca4b2    Gris clair dcd9dd    Orange ffA500   */