<div id="inferno-admin">
    <div class="">
        <div class="col-sm-1" style="border: 1px solid red">
            <p>there</p>
        </div>

        <div class="col-sm-4" style="border: 1px solid red">
            <div class="row">
                <div class="col-sm-2">
                    <a>Canto I</a>
                    <a>Canto II</a>
                    <a>Canto III</a>
                    <a>Canto IV</a>
                    <a>Canto V</a>
                </div>
                <div class="col-sm-10">
                    <p data-no="5" class="stz no-5">Ma poi ch’i’ fui al piè d’un colle giunto,
                        là dove terminava quella valle
                        che m’avea di paura il cor compunto,
                    </p>
                    <p data-no="5" class="stz no-5">Ma poi ch’i’ fui al piè d’un colle giunto,
                        là dove terminava quella valle
                        che m’avea di paura il cor compunto,
                    </p>
                    <p data-no="5" class="stz no-5">Ma poi ch’i’ fui al piè d’un colle giunto,
                        là dove terminava quella valle
                        che m’avea di paura il cor compunto,
                    </p>
                    <p data-no="5" class="stz no-5">Ma poi ch’i’ fui al piè d’un colle giunto,
                        là dove terminava quella valle
                        che m’avea di paura il cor compunto,
                    </p>
                </div>
            </div>

        </div>

        <div class="col-sm-3">
            <p data-no="5" class="stz no-5">Ma poi ch’i’ fui al piè d’un colle giunto,
                là dove terminava quella valle
                che m’avea di paura il cor compunto,
            </p>
            <p data-no="5" class="stz no-5">Ma poi ch’i’ fui al piè d’un colle giunto,
                là dove terminava quella valle
                che m’avea di paura il cor compunto,
            </p>
        </div>
        <div class="col-sm-3" style="border:1px solid blue">
            <p data-no="5" class="stz no-5">Harris Ma poi ch’i’ fui al piè d’un colle giunto,
                là dove terminava quella valle
                che m’avea di paura il cor compunto,
            </p>
            <p data-no="5" class="stz no-5">Ma poi ch’i’ fui al piè d’un colle giunto,
                là dove terminava quella valle
                che m’avea di paura il cor compunto,
            </p>
        </div>

    </div>
</div>