<div class="container" style="width: auto;">
    <style>
        p.stz {font-family: 'PT Sans', sans-serif; white-space: pre-line; font-size: 1.4em; margin:0px; margin-bottom: 5px }
        p.trad-stz {font-family: 'PT Serif', sans-serif; font-size: 1.4em; white-space: pre-line}
        .btn {border-bottom: 1px solid blue; margin: 2px}
        .available-lang { margin-bottom: 5px }
		.cantoLink { border: 1px solid blue; }
    </style>
    <div class="row">


        <div class="col-sm-1">
            <div class='btn'><a data-action='inferno:home'>Chant I</a></div>
            <div class='btn cantoLink'>Chant II</div>
            <div class='btn cantoLink'>Chant III</div>
            <div class='btn cantoLink'>Chant IV</div>
        </div>
        <div class="col-sm-4">
            <div class="available-lang">
                <span><i></i>Fr</span>
                <span><i></i>Eng</span>
                <span><i></i>Espagnol</span>
            </div>
            <div class="canto-container">
                 <p class="stz">
                    guardai in alto e vidi le sue spalle
                    vestite già de’ raggi del pianeta
                    che mena dritto altrui per ogne calle.
                </p>
                <p class="stz">
                    Io non so ben ridir com’ i’ v’intrai
                    tant’ era pien di sonno a quel punto
                    che la verace via abbandonai.
                </p>
                <p class="stz">
                    Ahi quanto a dir qual era è cosa dura
                    esta selva selvaggia e aspra e forte
                    che nel pensier rinova la paura!
                </p>
                 <p class="stz">Nel mezzo del cammin di nostra vita
                    mi ritrovai per una selva oscura,
                    ché la diritta via era smarrita.
                </p>

                <p class="stz">
                    Tant’ è amara che poco è più morte;
                    ma per trattar del ben ch’i’ vi trovai,
                    dirò de l’altre cose ch’i’ v’ho scorte.
                </p>


                <p class="stz">
                    Ma poi ch’i’ fui al piè d’un colle giunto,
                    là dove terminava quella valle
                    che m’avea di paura il cor compunto,
                </p>

                <p class="stz">
                    guardai in alto e vidi le sue spalle
                    vestite già de’ raggi del pianeta
                    che mena dritto altrui per ogne calle.
                </p>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="available-lang">
                <span><i></i>Fr</span>
                <span><i></i>Eng</span>
                <span><i></i>Espagnol</span>
            </div>
            <p class='trad-stz'>Nan mitan chemin lavi n
                Me te trouvem na yon rak nwa
                Paske nou te pedi bon chemen la</p>

            <div class="stz-editor input-group">
                <textarea class="form-control" placeholder="Proposer une traduction" style="border: 1px solid #95a5a6; background-color: #fbfcfc"></textarea>
            </div>
        </div>

    </div>
</div>