<div id="editing-zone" class="tab-pane">
    <p class="current-translation"></p>
    <div class="stz-editor clearfix">
        <textarea id="edit-zone" class="form-control" placeholder="Propoze yon vèsyon" style="border: 1px solid #95a5a6; background-color: #fbfcfc"></textarea>
        <div class="btn-group btn-group-xm pull-right" style="margin : 0px 10px 5px 0 ">
            <button id="save-draft-btn" class="btn btn-default btn-sm"><i class="fa fa-check" style="color: green"></i> Anregistre</button>
            <button id="cancel-btn" class="btn btn-default btn-sm"><i class="fa fa-times" style="color: red"></i> Annuler</button>
        </div>
    </div>
</div>