<div id="editing-zone" class="tab-pane">
    <p class="current-translation"></p>
    <div class="user-translation edit-field shadowed-box">
        <span><i class="fa fa-user"></i> Mwen menm <span> a 10h30</span>
            <span><i class="fa fa-remove pull-right pointable"></i></span>
            <span><i class="fa fa-edit pull-right pointable"></i></span>
        <p id="user-translation-text"></p>
    </div>
    <div class="stz-editor clearfix edit-field" style="display : none">
        <textarea id="edit-zone" class="form-control" placeholder="Propoze yon tradiksyon"></textarea>
        <div class="btn-group btn-group-xm pull-right">
            <button id="save-draft-btn" class="btn btn-default btn-sm"><i class="fa fa-check"></i>Anregistre</button>
            <button id="cancel-btn" class="btn btn-default btn-sm"><i class="fa fa-times"></i>Vag</button>
        </div>
    </div>
</div>