<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-6">

            <div class="available-lang">
                <span><i></i><a data-lang="it" class="btn-link canto-lang">Dante {{activityName}}</a></span>
                <span><i></i><a data-lang="kr" class="btn-link canto-lang">/ Kr </a></span>
                <span><i></i><a data-lang="fr" class="btn-link canto-lang">/ Fr</a></span>
                <span><i></i><a data-lang="en" class="btn-link canto-lang">/ Eng</a></span>
                <!--<span><i></i><a data-lang="esp" class='btn-link'>/ Espagnol</a></span>!-->
            </div>

            <div class="canto-ctn it-canto-container"></div>
            <div style="display:none" class="canto-ctn en-canto-container"></div>
            <div style="display:none" class="canto-ctn fr-canto-container"></div>
            <div style="display:none" class="canto-ctn esp-canto-container"></div>
            <div style="display:none" class="canto-ctn kr-canto-container"></div>
        </div>

        <!--kimo-time data-format="dd/mm/yy" data-application="inferno">
            <action type="click" target="component:setSelected"></action>
        </kimo-time-->

        <!--<kimo-cantopager data-application="inferno" data-id="gen()">
            <param name="selected" value=1 />
        </kimo-cantopager>-->

        <div id="user-context" class="col-sm-5" style="border-left: 1px solid #ebebeb">
            <div class="user-context-wrapper">
                <ul id="user-action-tab" role="tablist" class="user-tab nav nav-tabs">
                    <li class="active" data-toggle="tab"><a href="#translation"><i class="glyphicon glyphicon-comment"></i> Traduction</a></li>
                    <li class="" data-toggle="tab"><a href="#editing">Info</a></li>
                    <li><a href="#contributions" data-toggle="tab">Contributions <span class="badge content-badge">0</span></a></li>
                </ul>
                <div class="tab-content">
                    <div id="translation" class="tab-pane active">
                        <div id="editor-ctn"></div>
                        <a id="add-translation" style="display:none"><i class="fa fa-plus"></i> Propoze yon tradiksyon</a>
                        <div id="trad-container"></div>
                    </div>

                    <div id="editing" class="tab-pane">
                        <div id="editor-zone"></div>
                    </div>

                    <div id="contributions" class="tab-pane"></div>
                </div>
            </div>
        </div>
    </div>
</div>