    <div id="main-contrib-zone" class="row">
        
        <div class="col-sm-1"></div>

        <div class="col-sm-6">
            
            <ul class="nav nav-tabs available-lang">
                <li class="active"><a data-lang="it" class="btn-link canto-lang pointable">Dante</a></li>
                <li><a data-lang="fr" class="btn-link canto-lang pointable">Franse</a></li>
                <li><a data-lang="en" class="btn-link canto-lang pointable">Anglè</a></li>
                <li><a data-lang="kr" class="btn-link canto-lang pointable">Kreyol </a></li>
            </ul>
            
            <div class="canto-ctn it-canto-container"></div>
            <div style="display:none" class="canto-ctn en-canto-container"></div>
            <div style="display:none" class="canto-ctn fr-canto-container"></div>
            <div style="display:none" class="canto-ctn esp-canto-container"></div>
            <div style="display:none" class="canto-ctn kr-canto-container"></div>
        </div>

        <!--kimo-time data-format="dd/mm/yy" data-application="inferno">
            <action type="click" target="component:setSelected"></action>
        </kimo-time-->

        <!--<kimo-cantopager data-application="inferno" data-id="gen()">
            <param name="selected" value=1 />
        </kimo-cantopager>-->

        <div id="user-context" class="col-sm-5" style="border-left: 1px solid #ebebeb">
            <div class="user-context-wrapper">
                <ul id="user-action-tab" role="tablist" class="user-tab nav nav-tabs">
                    <li class="" data-tab="editing" data-toggle="tab"><a href="#editing">Info</a></li>
                    <li class="contrib" data-tab="contribution" data-toggle="tab"><a href="#contribution">Tradiksyon en kreyòl <span id="contrib_stats_label" class="badge orange">0</span></a></li>
                </ul>
                
                <div class="tab-content">
                    
                    <div id="editing" class="tab-pane">
                        <div id="editor-zone">
                            1. ^ Ref
                            2. photo
                            3. citation
                            4. wiki
                        </div>
                    </div>

                    <div id="contribution" class="tab-pane">
                        <div id="translation-ctn"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
