<div id="editing-zone" class="tab-pane row">
	
	<p class="col-xs-1"></p>
	<p class="current-translation col-xs-11"></p>

    <div class="col-xs-12 no-padding user-translation edit-field editing-panel">
        <p class="col-xs-1"></p>
        <div class="col-xs-11 user-translation-wrapper">
            <i class="fa fa-user"></i><span class="inferno-user">Tradiksyon paw la</span><span class="contrib-time" id="user-contrib-pubdate">{{pubdate}}</span>
            
            <span class="pull-right editable-actions">
                <i class="fa fa-edit pointable"></i>
                <i class="fa fa-remove pointable"></i>
            </span>
            <p id="user-translation-text"></p>
        </div>
    </div>
	
	<div class="empty-panel editing-panel">
		<p class="infos"><i class='fa fa-plus'></i> Propoze yon vèsyon!</p>
	</div>

    <div class="col-xs-12 no-padding stz-editor editing-panel clearfix edit-field" style="display : none">
        <p class="col-xs-1"></p>
        <div class="col-xs-11 textarea-wrapper">
            <textarea id="edit-zone" class="form-control" placeholder="Propoze yon tradiksyon"></textarea>
            <div class="btn-group btn-group-xm pull-right">
                <button id="save-draft-btn" class="btn btn-default btn-sm"><i class="fa fa-check"></i> Anregistre</button>
                <button id="cancel-btn" class="btn btn-default btn-sm"><i class="fa fa-times"></i> Vag</button>
            </div>
        </div>
    </div>

</div>
