{% extends "layout.html" %}

{% block main %}
	<div class="col-sm-6 the-project">
			<h2 class="info-title">Projè a</h2>
			
<p>Kreyol Eksperyans se yon platfòm ki vle ankouraje epi ranfòse isaj lang kreyol la gras a itilizasyon  teknoloji nimerik yo. Inferno limenm, se yon ekperimantasyon sou plafòm lan ki pèmèt nou tradwi de manyè kolaboratif poèm « Inferno » ke Dante te ekri. 

<p>Inferno prezante teks Dante la ansanm avek yon tradiskyon an franse epi yon lòt an anglè. Tradisyon sa yo la pou sèvi nou de referans. Nou kapab li yon tradiksyon yon chan aprè lòt oubyen tèsè pa tèsè. Fonksyonman Infèno semp : Lè ou klike sou yon tèsè ou wè lòt tradiksyon kominote an propoze epi, si ou vle, ou ka propoze yon lòt tradiksyon. Li posib tou pou fè kòmantè sou yon tradisksyon. Tout moun ki gen yon kont sous platfòm lan ka propoze yon tradiksyon. Pou chak tradiksyon ke yon moun propoze, yon itilizatè ka bay opinyon l pa yon vòt. Tradisyon ki rekòlte plis vòt la, se limen m ki ap tradiksyon ofisyèl la. Nan yon prochèn vèsyon systèm lan ka evolye pou l pa pran an kont yon seri de paramèt tankou fidelite tradiksyon an, kalite tradiksyon an, epi repitasyon moun ki propoze tradiksyon an.

<p>Kounyeya,  pouki Dante, pouki tradiksyon epi, pou n fini, pouki kreyòl ayisyen ?

<p>Lanfè (Inferno), se premye pati  "Comedia"  ke Dante (1265-1321) te Ekri. "Comedia" ke yo rele souvan "Divina Commedia" kompose de twa liv : Lanfè, Pigatwa, epi Paradi. Lanfé se yon teks alafwa poetik, alegorik, teyologik e filisofik kote Dante rakonte you voyaj inisyatik ke li te fè nan lanfè avèk Vigil kòm gid. Avèk "Divina Commedia", Dante te vle bati tèsè aprè tèsè yon sitadèl pou kontre tout aso move lavi, pèdisyon nan move rout,  lavi tèt bese ak lavi vant atè, manti ak tantasyon, tout sa ki separe nou de sa nou ka fè ki byen. Yon lòt pwen ki enpòtan sèke Dante pat ekri li en laten. O kontrè li chwazi itilize yon dialèk, dialèk toskan, ki pita pral tounen lang italyen an. Pa chwa sa a, Dante te vle montre ke lang li te kon itilize chak jou a gen menm resous avek lang laten an. 
<p>Borges ki pat li anyen ki frèt e ki te admire Dante, konsidere "Divina Commedia" tankou pi gwo liv ke yon moun te ka ekri. Borges di ke se tankou yon tablo ki tèlman byen fèt ke lè ou gade l prè ou wè tout sa ki te pase, tout sa ki ap pase e tout sa ki pra l pase. Yon fason pou l di ke Dante, poèt divinò, ekri yon teks san laj ki pale de tout sa ki fè kondisyon nou an tan ke moun.</p>

<p>Primo Levi nan « Si Se yon moun », temwanyaj de move tan li te pase nan kan konsantrasyon Auschwitz, raple kijan yon jou, san atan n, souveni teks Dante lan te vini frape lespri l.

<quote>Sonje ki bon dlo ki koule nan rasin ou :
Ou pat fèt pou viv tanko bèt,
Men pou chèche lakonesans epi sa ki byen (chan XXVI – tèsè 40)</quote>

<p>Nan fen fon memwa l, parò l sa yo ke Dante te mete nan bouch Ilis, vin raple Primo Levi sa ke konsidyon lavi Auschwitz la te preske fè l bliye;  ke limenm tou li se yon moun.

<p>Paske you n nan pouvwa literati se raproche sa ki parèt lwen, fè koresponn sa ki an aparans pas gen rapò, rann transparan sa ki opak. Ou byen tou, trouble sa nou te panse ki te klè. Literati a, menm jan ak sipò li ki se lang lan, gen ladan l yon memwa ke sè l tradiskyon pèmèt li pataje. Tradui Inferno en kreyòl ayisyen, se yon mwayen pou nou ka ouvri lang la sou de lòt espas, lòt reayalite, lòt imajinè. Sa pèmèt, nou menm lektè, rantre an kontak avèk sa ki, san li, tap rete lwen. Egzèsis tradiksyon an pèmèt nou konsidere lang nan nan yon seri de dimansyon ke nou pa anvisaye lè nou itilise l nan de konteks ki deja familye pou nou. Dante se yon depeyizman. Yon fason pou n di ke se yon okazyon pou nou eprouve lang an. Se pa toujou yon travay ki semp ni ki fasil. Infèno propoze yon espas diskysyon kote nou ka abòde epi anvisaje solisyon pou tout quesyon sa yo. 

<p>Pou n fini an n di ke tradui Dante an kreyòl se tankou refè voyaj Ilis la, ale kote moun potko ale, wè ak je nou sa ankann lòt je potko gade. Se tou, refè you n ak lang lan, redekouvri tout sa li kabap, fè l konfyans menm jan ak Dante ki, au lye de laten, te chwazi fè lang toskan n lan konfyans.</p>

<p>Tankou nou te di l "Inferno" se yon eksperimatasyon, yon jès, yon sign, yon fason pou n selebre vitalite ak kreyativite tout sila yo ki kreye e ki travay ak lang kreyòl la. Nou panse a Leroy, Sixto, Cave, Castera, Ti Paris, Langichat, Piram ak Polidò ki egziste pou tou tan nan memwa nou. A Franketienne, gran divinò! A tout parolye, selèb kou anonim, ki ekri lavin ak rim. </p>
Pou nou tout ki konprann lè kreyòl pale!</p>
		
		</div>
		<div class="col-sm-6 img-project">
			<img src="{{url_for('static', filename='img/inferno-dante.jpg')}}"/>
		</div>
{% endblock %}
