{% extends "layout.html" %}

{% block main %}
	<div class="col-sm-6">
			<h2 class="info-title">Inferno Eksperyans</h2>
			<p>
				Yon kontribisyon nan efò pou n ranfòse lang kreyòl la.<br/>
					<strong>Inferno</strong> se yon platfòm ki pèmèt nou tradui
					an kreyòl poèm <em>Inferno</em> ke Dante te ekri.
				</p>
			<p>
			<a title="Harris Baptiste | fullstack engineer | digital humanities" href="{{ url_for('main.contact') }}">Kontak</a>
		</p>
		</div>
		<div class="col-sm-6"></div>
{% endblock %}