<!DOCTYPE html>
<html lang="en_EN">
    <head>
        <meta encoding="utf-8">
        <title>Showroom</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/kimonic/vendor/bootstrap/dist/css/bootstrap.min.css')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/kimonic/vendor/fontawesome/css/font-awesome.min.css')}}"/>

        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href='{{url_for('static', filename='css/inferno.css')}}' rel='stylesheet' type='text/css'/>
        <script type="text/javascript" src="{{url_for('static', filename='js/kimonic/vendor/requirejs/require.js')}}"></script>

        <script>
            var appPath = "/static/";
        </script>
        <script  src="{{url_for('static', filename='js/kimonic/main.js')}}"></script>
        <script>
            require.config({
                paths: {
                    "sw.app": "apps/swannsway/main",
                    "inferno.app": "apps/inferno/main"
                }
            });
        </script>
    </head>
    <body style="background:url(js/adpps/inferno/assets/images/blue-bg.jpg) 0 0 fixed;">
        <!-- Static navbar -->

			<header>
			
				<div class="navbar navbar-default" role="navigation">
						
						<div class="container">
							
							<div class="row">
								<div class="col-sm-12">

									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
										<a class="navbar-brand" href="/index">Babelio inferno : Dante An Kreyol</a>
									</div>
								
								</div>
							</div>

						</div>
						
				</div>
				
			</header>
			
		<div class="container">

            <div class="col-sm-6">
               <div class="jumbotron"> 
				<h2>Babelio inferno</h2>
					Yon kontribisyon nan efò poun ranfòse lang kreyòl la.
					<strong>Inferno</strong> se yon platfòm ki pèmèt nou tradwi
					an kreyòl poèm <em>Inferno</em> ke Dante te ekri.
				</div>
            </div>

            <div class="col-sm-6">
				<form class="form-horizontal" action="{{url_for('login')}}" method='POST'>
				  
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="inputEmail3">Login</label>
					<div class="col-sm-10">
					  <input name="login" type="login" placeholder="Email" id="inputEmail3" class="form-control">
					</div>
				  </div>
				  
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="inputPassword3">Modpas</label>
					<div class="col-sm-10">
					  <input name="pass" type="password" placeholder="pass" id="inputPassword3" class="form-control">
					</div>
				  </div>
				  
				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  <button class="btn btn-default" type="submit">Konekte</button>
					</div>
				  </div>
				</form>
			</div>
		</div>
			
    </body>
</html>


