<!DOCTYPE html>
<html lang="en_EN">
    <head>
        <meta encoding="utf-8">
        <title>Showroom</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/kimonic/vendor/bootstrap/dist/css/bootstrap.min.css')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/kimonic/vendor/fontawesome/css/font-awesome.min.css')}}"/>

        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{url_for('static', filename='js/kimonic/vendor/requirejs/require.js')}}"></script>
        <script>
            var appPath = "/static/";
        </script>
        <script  src="{{url_for('static', filename='js/kimonic/main.js')}}"></script>
        <script>
            require.config({
                paths: {
                    "sw.app": "apps/swannsway/main",
                    "inferno.app": "apps/inferno/main"
                }
            });
        </script>
    </head>
    <body style="background:url(js/adpps/inferno/assets/images/blue-bg.jpg) 0 0 fixed;">
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">Babelio inferno : Dante An Kreyol</a>
					
                </div>
                <div class="collapse navbar-collapse">
                    <!-- menu -->
					
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> User <span class="caret"></span></a>
                            {% if current_user.is_authenticated() %}
							<ul class="dropdown-menu" role="menu">
                                <li><a href="#/inferno/user/settings">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">Log out</a></li>
                            </ul>
							{% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <div class="mainWrapper viewCtn"></div>
                </div>
            </div>
        </div>
        <script>

            var _errorHandler = function(reason){
                console.log(" error", reason);
            }
            require(['Kimo/core','inferno.app'], function (Kimo, Inferno) {
                Inferno.onError = function () {
                    console.log("error");
                }
                Inferno.start({});

            },_errorHandler);

        </script>
    </body>
</html>