<div id="main-container">
    <p class="block-title"><strong>Lot tradiksyon</strong></p>
    <div id="list-container">
        <p class='trad-sugg'>Nemo quaeso miretur, si post exsudatos labores itinerum,
            commeatus fiducia vestri ductante barbaricos pagos adventans
            velut mutato repente consilio ad placidiora deverti.
            <span>
                vote :<span class="vote">1524</span> - <span><i> </i><span class="contrib"><a href="javascript" class=''>Atike yassou</a></span></span>
            </span>
        </p>

        <p class='trad-sugg'>Nan mitan chemin lavi a
            Me te retrouvem na yon rak nwa
            Paske mwen de pedi bon chemen la</p>
        <span>

            vote :<span class="vote">1503</span> - <span><i> </i><span class="contrib"><a href="javascript" class=''>Atike yassou</a></span></span>
        </span>
        <p class='trad-sugg'>Nan mitan chemin lavi a
            Me te retrouvem na yon rak nwa
            Paske mwen de pedi bon chemen la</p>
        <span>

            vote :<span class="vote">1502</span> - <span><i> </i><span class="contrib"><a href="javascript" class=''>Atike yassou</a></span></span>
        </span>
        <p class='trad-sugg'>Nan mitan chemin lavi a
            Me te retrouvem na yon rak nwa
            Paske mwen de pedi bon chemen la</p>
        <span>
            vote :<span class="vote">1510</span> - <span><i> </i><span class="contrib"><a href="javascript" class=''>Atike yassou</a></span></span>
        </span>
        <p class='trad-sugg'>
            <span>
                vote :<span class="vote">1000</span> - <span><i class="fa fa-user"></i><span class="contrib"><a href="javascript" class=''> Atike yassou</a></span></span>
            </span>
            Nan mitan chemin lavi a
            Me te retrouvem na yon rak nwa
            Paske mwen de pedi bon chemen la</p>
    </div>
</div>